@media (max-width: 1200px) {
  body {
    font-size: 12px;
  }
  .left h3 {
    font-size: 12px;
  }
  .mid-section h4 {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .main {
    width: 85vw;
  }
}