@media (max-width: 1200px) {
  body {
    font-size: 12px;
  }
  .left h3 {
    font-size: 12px;
  }
  .mid-section h4 {
    font-size: 12px;
  }
  .rock-image-final-form {
    height: 300px;
  }
}

@media (max-width: 600px) {
  html, body { 
    height: 100%; 
    overflow: hidden; 
    position: fixed; /* important for iOS */
    width: 100%;
    touch-action: none;          /* prevents scroll gestures */
    overscroll-behavior: none;
  }
  body { 
    min-height: 100svh; 
    overscroll-behavior: none; 
    touch-action: manipulation; 
  }
  .main, .left, .right, .middle {
    touch-action: manipulation;     /* disables double-tap zoom */
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }
  .main {
    position: absolute;
    height: 0;
    width: 0;
  }

  .resource-icon {
    height: 1vh;
    min-height: 0;
  }
  .left {
    position: absolute;
    top: -40vh;
    left: -50vw;
    margin: 0;
    width: 30vw;
    height: 0;
    min-width: none;
  }
  .left h3 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 1vh;
    gap: 0.5rem; 
    width: 95%;
    min-height: 3vh;
    border: 0.5px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5vw;
    box-sizing: border-box;
    margin: 3px;
    color: var(--primary-color);
    background-color: var(--secondary-color-faded);
  }
  .resource-count {
    color: var(--primary-color);
    font-weight: lighter;
    font-family: "CodeStyle";
    align-items: center; 
    gap: 0.5rem; 
    font-size: 1vh;
  }
  .middle {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    top: -5vh;
    left: 0;
    margin: 0;
    width: 0;
    height: 0;
  }
  .upgrade-galmi-button {
    position: absolute;
    top: 7vh;
  }
  .rock-image-container {
    position: relative;
    min-height: 0px;
  }
  .rock-image {
    max-width: 30vw;
    min-width: 44px;
  }
  .purchasables-container-special {
    display: flex;
    position: absolute;
    top: 25vh;
  }
  .right {
    position: absolute;
    top: -40vh;
    right: -12vw;
    margin: 0;
    width: 0;
    height: 0;
    min-height: 0;
  }
  .purchasable {
    position: relative;
    margin: 0.75vh 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: 4vh;
    min-width: 0;
  }
  .mid-section h4 {
    font-size: 1vh;
  }

  .mid-section p {
    margin: 0;
    font-size: 1vh;
  }

  .purchasable-icon {
    height: 3vh;
    min-height: 0;
    -webkit-user-drag: none;
  }

  .cost-info {
    display: flex;
    gap: 5px;
    font-family: "CodeStyle";
  }

  .right-section {
    position: absolute;
    justify-items: right;
    right: 1vw;
    top: 1vh;
    opacity: 0.5;
  }
  .gpm-selector {
    right: 20px;
  }
  label {
    width: auto;
    min-width: 0;
    padding: 5px 2vw;
    white-space: nowrap;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 8px;
  }
  .util-buttons {
    bottom: 20px;
    right: 20px;
  }
  .util-button {
    width: 80px;
    font-size: 8px;
  }
}