@media (max-width: 800px) {

  body {
    display: grid;
    place-items: center;
    height: 98vh;
    margin: 0;
    padding: 1vh;
    background-color: var(--light-color);
    color: var(--dark-color);
    user-select: none;
    font-size: 8px;
  }

  .main {
    display: grid;
    min-height: 150px;
  }

  .resource-icon {
    height: 10px;
  }

  .left {
    display: grid;
    place-items: center;
    width: 150px;
    box-sizing: border-box;
  }

  .left h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    font-size: 12px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: 2px;
    color: var(--dark-color);
    box-shadow: 2px 2px 6px var(--dark-color);
  }

  .resource-count {
    color: var(--dark-color);
    font-weight: 700;
  }

  .middle {
    display: grid;
    place-items: center;
    width: 150px;
    min-height: 100px;
  }

  .rock-image-container {
    position: relative;
  }

  .rock-image:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  .rock-image:active {
    opacity: 0.8;
    transform: scale(1.02);
  }

  .right {
    display: grid;
    place-items: center;
    width: 150px;
    min-height: 100px;
  }

  .purchasable {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    border: 4px solid var(--dark-color);
    padding: 2px;
    border-radius: 5px;
    background-color: var(--light-color);
    box-shadow: 2px 2px 6px var(--dark-color);
    opacity: 0.5;
  }
  .mid-section h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 10px;
  }

  .mid-section p {
    margin: 0;
  }

  .purchasable-icon {
    height: 32px;
  }

  .cost-info {
    display: flex;
    gap: 5px;
    font-weight: 700;
  }

  .right-section {
    justify-items: right;
  }

  .hidden { visibility: hidden !important; }
  .enabled {
    opacity: 1;
  }
  .enabled:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  .enabled:active {
    opacity: 0.8;
    transform: scale(1.02);
  }

  .fade-up {
    animation: fade-up 1s;
  }

  @keyframes fade-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-65px);
      opacity: 0;
    }
  }
}