:root {
  /* OLD THEME COLORS
  --dark-color:#4B3B2B;
  --light-color:#F9F5F0; 
  */
  --dark-color: #2A2A2E;
  --light-color:#EEF1F4;
}
:root[data-theme="dark"] {
  --dark-color:#EEF1F4;
  --light-color:#2A2A2E;
}

html, body {
    touch-action: manipulation;
}

body {
  display: grid;
  place-items: center;
  height: 98vh;
  margin: 0;
  padding: 1vh;
  background-color: var(--light-color);
  color: var(--dark-color);
  user-select: none;
  /* cursor: url("/assets/cursors/pickaxe.png") 16 16, auto; */

}

.main {
  display: flex;
  min-height: 150px;
}

.resource-icon {
  height: 20px;
}

.left {
  display: grid;
  place-items: center;
  width: 350px;
  box-sizing: border-box;
}

.left h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  font-size: 24px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: 2px;
  color: var(--dark-color);
  box-shadow: 2px 2px 6px var(--dark-color);
}

.resource-count {
  color: var(--dark-color);
  font-weight: 700;
}

.middle {
  display: grid;
  place-items: center;
  width: 350px;
}

.rock-image-container {
  position: relative;
}

.rock-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rock-image:active {
  opacity: 0.8;
  transform: scale(1.02);
}

.right {
  display: grid;
  place-items: center;
  width: 350px;
  min-height: 300px;
}

.purchasable {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  border: 4px solid var(--dark-color);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--light-color);
  box-shadow: 2px 2px 6px var(--dark-color);
  opacity: 0.5;
}
/*
.extract:hover {
  opacity: 0.9;
  cursor: pointer;
}

.extract:active {
  opacity: 0.8;
  transform: scale(1.02);
}
*/
.mid-section h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.mid-section p {
  margin: 0;
}

.purchasable-icon {
  height: 50px;
}

.cost-info {
  display: flex;
  gap: 5px;
  font-weight: 700;
}

.right-section {
  justify-items: right;
}

.hidden { visibility: hidden !important; }
.enabled {
  opacity: 1;
}
.enabled:hover {
  opacity: 0.9;
  cursor: pointer;
}
.enabled:active {
  opacity: 0.8;
  transform: scale(1.02);
}

.fade-up {
  animation: fade-up 1s;
}

@keyframes fade-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-65px);
    opacity: 0;
  }
}

.gpm-selector {
  position: absolute;
  top: 1vh;
  right: 1vw;
}
/* 1. Hide the radio circle */
input[type="radio"] {
  display: none;
}

/* 2. Style labels as buttons */
label {
  display: inline-block;
  padding: 10px 20px;
  color: var(--dark-color);
  border: none;
  border-radius: 1vh;
  background-color: var(--light-color);
  box-shadow: 0px 0px 5px var(--dark-color);
  cursor: pointer;
  transition: background 0.3s;
}

/* 3. Style for the "Selected" button */
input[type="radio"]:checked + label {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-color: var(--light-color);
}

.game-buttons {
  position: absolute;
  top: 1vh;
  left: 1vw;
  display: flex;
  gap: 10px;
}
.game-button {
  padding: 0.5vh 1vh;
  font-size: 2vh;
  font-weight: 600;
  font-family: inherit;
  border: none;
  border-radius: 1vh;
  background-color: var(--light-color);
  box-shadow: 0px 0px 5px var(--dark-color);
}
.game-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.game-button:active {
  opacity: 0.8;
  transform: scale(1.02);
}
.save-icon {
  height: 4vh;
}

.util-buttons {
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  display: flex;
  gap: 10px;
}
.util-button {
  padding: 0.5vh 1vh;
  color: var(--dark-color);
  font-size: 1.5vh;
  font-weight: 600;
  font-family: inherit;
  border: none;
  border-radius: 1vh;
  background-color: var(--light-color);
  box-shadow: 0px 0px 5px var(--dark-color);
}
.util-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.util-button:active {
  opacity: 0.8;
  transform: scale(1.02);
}