:root {
  --dark-color:#4B3B2B;
  --light-color:#F9F5F0;
}

body {
  display: grid;
  justify-items: center;
  height: 100vh;
  margin: 0;
  padding: 30px;
  background-color: var(--light-color);
  color: var(--dark-color);
  user-select: none;
}

.main {
  display: grid;
}

.left h3 {
  text-align: left;
  font-size: 30px;
}

/*
.rock-image {
  width: 64px;
  height: 44px;
}
*/

.rock-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rock-image:active {
  opacity: 0.8;
  transform: scale(1.02);
}

.extract {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  border: 4px solid var(--dark-color);
  padding: 5px 20px;
  border-radius: 5px;
  background-color: var(--light-color);
}
/*
.extract:hover {
  opacity: 0.9;
  cursor: pointer;
}

.extract:active {
  opacity: 0.8;
  transform: scale(1.02);
}
*/
.mid-section h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.mid-section p {
  margin: 0;
}

.extract-icon {
  width: 50px;
}

.rock-icon {
  width: 20px;
  height: 20px;
}

.cost-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-section {
  justify-items: right;
}