body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
  color: white;
  user-select: none;
}

.main {
  display: flex;
}

.left h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.rock-image {
  width: 300px;
}

.rock-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rock-image:active {
  opacity: 0.8;
  transform: scale(1.02);
}