:root {
  --dark-color:#4B3B2B;
  --light-color:#F9F5F0;
}

html, body {
    touch-action: manipulation;
}

body {
  display: grid;
  place-items: center;
  height: 98vh;
  margin: 0;
  padding: 1vh;
  background-color: var(--light-color);
  color: var(--dark-color);
  user-select: none;
}

.hidden { display: none !important; }

.main {
  display: flex;
  min-height: 150px;
}

.left {
  display: grid;
  place-items: center;
  width: 350px;
  box-sizing: border-box;
}

.left h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  font-size: 30px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: 2px;
}

.middle {
  display: grid;
  place-items: center;
  width: 350px;
}

.rock-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rock-image:active {
  opacity: 0.8;
  transform: scale(1.02);
}

.right {
  display: grid;
  place-items: center;
  width: 350px;
  min-height: 300px;
}

.upgrade {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  border: 4px solid var(--dark-color);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--light-color);
}
/*
.extract:hover {
  opacity: 0.9;
  cursor: pointer;
}

.extract:active {
  opacity: 0.8;
  transform: scale(1.02);
}
*/
.mid-section h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.mid-section p {
  margin: 0;
}

.upgrade-icon {
  width: 50px;
}

.cost-icon {
  width: 20px;
  height: 20px;
}

.cost-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-section {
  justify-items: right;
}