body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #F9F5F0;
  color: #4B3B2B;
  user-select: none;
}

.main {
  display: flex;
}

.left h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

/*
.rock-image {
  width: 64px;
  height: 44px;
}
*/

.rock-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.rock-image:active {
  opacity: 0.8;
  transform: scale(1.02);
}